[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-mail = "*"
bcrypt = "*"
flask-jwt-extended = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
boto3 = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "*"
